# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for configuration files
package.json text eol=lf
src-tauri/Cargo.toml text eol=lf
src-tauri/tauri.conf.json text eol=lf
